{% extends "layout.html" %} {% block navbar %}
<li>
  <a href="{{ url_for('input_environment') }}">Input Environment</a>
</li>
<li>
  <a href="{{ url_for('input_sim') }}">Input Sim</a>
</li>
<li class="active">
  <a href="{{ url_for('execute') }}">Execute</a>
</li>
<li>
  <a href="{{ url_for('progress') }}">Progress</a>
</li>
<li>
  <a href="{{ url_for('results') }}">Results</a>
</li>
{% endblock %} {% block content %}
<h1>Execute</h1>
<div class="object_input">
  <p class="lead">
    The Geo shown below will execute with sim data.
  </p>
  <a
    class="btn btn-info"
    href="{{ url_for('execute_settings') }}"
    role="button"
    style="margin: 10px;"
  >
    Execution Settings
  </a>
  <a
    class="btn btn-info"
    href="{{ url_for('execute_plot') }}"
    role="button"
    style="margin: 10px;"
  >
    Current Sim Setup
  </a>
  {% block execute_display %} {% endblock %}
</div>

<div class="object_input">
  <form method="POST">
    <div class="sub_object_input">
      <div style="padding: 0px 25px;">
        <input class="object_entry button" type="submit" value="Execute" />
      </div>
    </div>
  </form>
</div>
{% endblock content %}
