{% extends "layout.html" %} {% block navbar %}
<li>
  <a href="{{ url_for('input_environment') }}">Input Environment</a>
</li>
<li>
  <a href="{{ url_for('input_sim') }}">Input Sim</a>
</li>
<li class="active">
  <a href="{{ url_for('execute') }}">Execute</a>
</li>
<li>
  <a href="{{ url_for('progress') }}">Progress</a>
</li>
<li>
  <a href="{{ url_for('results') }}">Results</a>
</li>
{% endblock %} {% block content %}
<h1>Execute</h1>
<div class="object_input">
  <p class="lead">
    The Geo shown below will execute with sim data.
  </p>
  <a
    class="btn btn-primary"
    href="{{ url_for('execute_settings') }}"
    role="button"
    style="margin: 10px;"
  >
    Execution Settings
  </a>
  {% block execute_settings %} {% endblock %}
  <div>
    <h3>Geo Plot</h3>
    {% for plot in geo_plot %} {% for part in plot %}
    {{ part | safe }}
    {% endfor %} {% endfor %}
  </div>
</div>
{% endblock content %}
