{% extends "layout.html" %} {% block navbar %}
<li class="active">
  <a href="{{ url_for('input_environment') }}">Input Environment</a>
</li>
<li>
  <a href="{{ url_for('input_sim') }}">Input Sim</a>
</li>
<li>
  <a href="{{ url_for('execute') }}">Execute</a>
</li>
<li>
  <a href="{{ url_for('progress') }}">Progress</a>
</li>
<li>
  <a href="{{ url_for('results') }}">Results</a>
</li>
{% endblock %} {% block content %}
<h1>Input Environment</h1>
<div class="object_input">
  <p class="lead">
    Create a new geography or select existing one. Only unique names will be added
    to the database.
  </p>      
  <div class="new_input">
    <form method="POST" action="">
      <input type="text" name="GeoName"> GeoName </input> </br>
      <input type="text" name="Airports"> Airports </input> </br>
      <input type="text" name="DimX"> DimX </input> </br>
      <input type="text" name="DimY"> DimY </input> </br>
      <input type="text" name="Time"> Time Period </input> </br>

      <input type="submit" />
    </form>
  </div>
  <select>
    <option value="hide"> -- Select Geographical Region -- </option>
    {% for geo in GeoData %}
    <option value="geo_selected">{{ geo[0] }}</option>
    {% endfor %}
  </select>
</div>
{% endblock content %}
