{% extends "input_environment.html" %} {% block input_space %}
<h1>CREATE</h1>
<form method="POST">
    <div class="sub_object_input">
        <input class="object_entry" type="text" name="GeoName"> GeoName </input> </br>
        <input class="object_entry" type="text" name="Airports"> Airports </input> </br>
        <input class="object_entry" type="text" name="DimX"> DimX </input> </br>
        <input class="object_entry" type="text" name="DimY"> DimY </input> </br>
        <input class="object_entry" type="text" name="TimeLength"> Time Period </input> </br>
        <div style="padding: 0px 25px;">
            <input class="object_entry button" type="submit" />
        </div>
    </div>
</form>
{% endblock %}
