{% extends "input_environment.html" %} {% block input_space %}
<!--Selection Bar-->

<form method="POST">
  <div class="sub_object_input">
    <select name="geo_selected">
      <option class="object_entry" value="hide">
        -- Select Geo Region --
      </option>
      {% for geo in GeoData %}
      <option
        class="object_entry"
        type="button"
        data-toggle="dropdown"
        value="{{ geo[0] }}"
        >{{ geo[0] }}</option
      >
      {% endfor %}
    </select>
    <div style="padding: 0px 25px;">
      <input class="object_entry button" type="submit" />
    </div>
  </div>
</form>

<!--Window of DB overview (informs selection)-->
<div id="table" class="sub_object_input" style="width: auto;">
  <div class="tr">
    <div class="td"><strong>Region Name</strong></div>
    <div class="td"><strong>Dimensions</strong></div>
    <div class="td"><strong>Time</strong></div>
    <div class="td"><strong>Airports</strong></div>
  </div>
  {% for geo in GeoData %}
  <div class="tr">
    <div class="td">{{ geo[0] }}</div>
    <div class="td">{{ geo[1] }} x {{ geo[2] }}</div>
    <div class="td">{{ geo[3] }}</div>
    <div class="td">{{ Airports[geo[0]] }}</div>
  </div>
  {% endfor %}
</div>
<div id="table" class="sub_object_input" style="width: auto;">
  <div class="tr">
    <div class="td"><strong>Airport Name</strong></div>
    <div class="td"><strong>(X, Y)</strong></div>
    <div class="td"><strong>Tolerance</strong></div>
    <div class="td"><strong>Flight Numbers</strong></div>
    <div class="td"><strong>Port Manifest</strong></div>
  </div>
  {% for port in AirportData %}
  <div class="tr">
    <div class="td">{{ port[0] }}</div>
    <div class="td">({{ port[1] }}, {{ port[2] }})</div>
    <div class="td">{{ port[3] }}</div>
    <div class="td">{{ Entries[port[0]] }}</div>
    <div class="td">
      <a
        class="object_entry button"
        href="{{ url_for('input_environment_create') }}"
        role="button"
        style="margin: 2px; padding: 5px; font-size: 15px;"
      >
        Show Manifest
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
