{% extends "layout.html" %} {% block navbar %}
<li class="active">
  <a href="{{ url_for('input_environment') }}">Input Environment</a>
</li>
<li>
  <a href="{{ url_for('input_sim') }}">Input Sim</a>
</li>
<li>
  <a href="{{ url_for('execute') }}">Execute</a>
</li>
<li>
  <a href="{{ url_for('progress') }}">Progress</a>
</li>
<li>
  <a href="{{ url_for('results') }}">Results</a>
</li>
{% endblock %} {% block content %}
<h1>Input Environment</h1>
<p class="lead">
  This is the input page.<br />
  Hopefully we can add a form.
</p>
<div class="container">
  <p>Enter data below...</p>
  <form method="POST" action="">
    GeoName <input type="text" name="GeoName" />
    <br />
    <input type="submit" />
  </form>
</div>
{% endblock content %}
