{% extends "layout.html" %} {% block navbar %}
<li class="active">
  <a href="{{ url_for('input_environment') }}">Input Environment</a>
</li>
<li>
  <a href="{{ url_for('input_sim') }}">Input Sim</a>
</li>
<li>
  <a href="{{ url_for('execute') }}">Execute</a>
</li>
<li>
  <a href="{{ url_for('progress') }}">Progress</a>
</li>
<li>
  <a href="{{ url_for('results') }}">Results</a>
</li>
{% endblock %} {% block content %}
<h1>Input Environment</h1>
<div class="object_input">
  <p class="lead">
    Create a new geography or select an existing one.
  </p>
  <a
    class="btn btn-primary"
    href="{{ url_for('input_environment_select') }}"
    role="button"
    style="margin: 10px;"
  >
    Select Existing Geography
  </a>
  <a
    class="btn btn-success"
    href="{{ url_for('input_environment_create') }}"
    role="button"
    style="margin: 10px;"
  >
    Create New Geography
  </a>
  {% block input_space %} {% endblock %}
</div>
{% endblock content %}
