{% extends "input_sim.html" %} {% block input_space %}
<!--Selection Bar-->

<form method="POST">
  <div class="sub_object_input">
    <select name="sim_selected">
      <option class="object_entry" value="hide">
        -- Select Sim Suite --
      </option>
      {% for suite in SuiteData %}
      <option
        class="object_entry"
        type="button"
        data-toggle="dropdown"
        value="{{ suite[1] }}"
        >{{ suite[1] }}</option
      >
      {% endfor %}
    </select>
    <div style="padding: 0px 25px;">
      <input class="object_entry button" type="submit" />
    </div>
  </div>
</form>

{% endblock %}
