{% extends "input_environment.html" %} {% block input_space %}
<h1>CREATE</h1>
<form method="POST">
    <div class="sub_object_input">
        <input type="text" name="GeoName"> GeoName </input> </br>
        <input type="text" name="Airports"> Airports </input> </br>
        <input type="text" name="DimX"> DimX </input> </br>
        <input type="text" name="DimY"> DimY </input> </br>
        <input type="text" name="Time"> Time Period </input> </br>
    </div>
    <input type="submit" />
</form>

{% endblock %}
