{% extends "layout.html" %} {% block navbar %}
<li>
  <a href="{{ url_for('input_environment') }}">Input Environment</a>
</li>
<li>
  <a href="{{ url_for('input_sim') }}">Input Sim</a>
</li>
<li>
  <a href="{{ url_for('execute') }}">Execute</a>
</li>
<li class="active">
  <a href="{{ url_for('progress') }}">Progress</a>
</li>
<li>
  <a href="{{ url_for('results') }}">Results</a>
</li>
{% endblock %} {% block content %}
<h1>Progress</h1>
<div class="plot_container" style="background-color: white;">
  {{ progress_plot[1] | safe }}
  {{ progress_plot[0] | safe }}
</div>
{% endblock content %}
