body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.object_input {
  background-color: rgba(80, 80, 80);
  padding: 10px;
  color: rgba(220, 220, 220);
  border-radius: 5px;
  margin: 15px 0px;
}

.sub_object_input {
  background-color: rgba(40, 40, 40);
  padding: 5px;
  margin: 5px auto;
  border-radius: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: left;
  align-content: left;
  width: 200px;
}

.object_entry {
  margin: 5px;
  color: rgba(40, 40, 40);
}

.button {
  background-color: rgba(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
  opacity: 0.5;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #aaa; /* fallback color if gradients are not supported */
  background-image: url(../images/select-arrow.png),
    -webkit-linear-gradient(top, #e5e5e5, #f4f4f4); /* For Chrome and Safari */
  background-image: url(../images/select-arrow.png),
    -moz-linear-gradient(top, #e5e5e5, #f4f4f4); /* For old Fx (3.6 to 15) */
  background-image: url(../images/select-arrow.png),
    -ms-linear-gradient(top, #e5e5e5, #f4f4f4); /* For pre-releases of IE 10*/
  background-image: url(../images/select-arrow.png),
    -o-linear-gradient(top, #e5e5e5, #f4f4f4); /* For old Opera (11.1 to 12.0) */
  background-image: url(../images/select-arrow.png),
    linear-gradient(to bottom, #e5e5e5, #f4f4f4); /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 10px;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#table {
  display: table;
}
.tr {
  display: table-row;
}
.td {
  display: table-cell;
  padding: 5px;
}

.plot_container {
  background-color: rgba(40, 40, 40);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
